GPUtil
PIL
PyPDF2
bcrypt
boto3
botocore
bs4
cohere
csv
docx
dotenv
eth_account
eth_keys
eth_utils
fastapi
flask
flask_login
flask_migrate
flask_sqlalchemy
flask_testing
flask_wtf
gtts
influxdb_client
joblib
jsonschema
jwt
matplotlib
mnemonic
neo4j
nltk
numpy
openai
openpyxl
paho
pandas
pinecone
pptx
prometheus_client
psutil
pydantic
pydub
pygame
pytest
pyttsx3
pytz
reactivex
requests
seaborn
sentence_transformers
smtplib
speech_recognition_service
sqlalchemy
tensorflow
torch
torchvision
transformers
turtle
uvicorn
vlc
weakref
web3
yaml
